
/* 
colors 
#364652
#faf3dd
#80a684
*/

body {
	font-family: sans-serif ;
	background: #232c33 ;
	color: #ebe8de;
	margin: auto;
}

main {
	max-width: 70vw;
	margin: auto ;
}
/* Change to be more width on smaller screens */

img {
	max-width: 100% ;
}

header h1 {
	text-align: center ;
}

footer {
	text-align: center ;
	clear: both ;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

.tag{

	color: red;

}

/* Utiliry */

.text-deco-none-white{

	text-decoration: none;
	color: #ebe8de;
}

.color-white{

	color: #ebe8de;

}

.hover-green:hover{

	color: #80a684


}

a{

	color: #95af98;

}
a:hover{

	opacity: .75;

}

/* Article Links */
.articles_list{
	list-style: none;
}


/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}

/* Code Block */
code{

	padding: 1rem;
	border-radius: 100%;

	
}

code>span{
	
	padding-left: .75rem;
}

pre{
	border-radius: 20px;
}
